<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Name</label>
                    <input type="text" id="name" ngModel name="name" required>
                    <label for="amount">Amount</label>
                    <input type="number" ngModel name="amount" id="amount" required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="f.invalid">{{editMode ? 'Update':'Add'}}</button>
                    <button class="btn btn-danger" type="button" (click)="OnDelete()" *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
    </form>
</div>
</div>